* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
    border-bottom: 1px;
}

#CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  background: #fff;
}

.its_header{
    border-bottom: #333;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
  

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}


.card h3 {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}


.price {
  font-size: 18px;
  font-weight: bold;
  color: #27ae60;
  margin: 6px 0;
}


.card p {
  font-size: 14px;
  color: #666;
}


/* footer from our previous site */
footer {
    background-color: #fff0db;

}

.link_lists h3{
    margin-bottom: 10px;
    color: gray;
}

.link_lists ul {
 
    list-style: none;
}

.link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

.news_letter input {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
}
@media (max-width: 786px) {
    .hero{
    flex-direction: column;
    }

    .hero_image {
        width: 90%;
    }

    .hero_content {
        gap: 10px;
        padding: 10px;

    }

    .hero_content h1 {
        font-size: 32px;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        flex-direction: column;
    }
    .grid {
        padding: 10px;

    }
    .grid-image {
        border-radius: 0px;
    }
    .footer_container {
        flex-direction: column;
    }
}